<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="longTimeoutBinding" receiveTimeout="00:15:00" sendTimeout="00:15:00"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="AFIS.Reader.Service.ReaderWCFService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/AFIS"/>
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="longTimeoutBinding" contract="AFIS.Reader.Service.IReaderWCFService"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="corsBehavior" type="AFIS.Reader.Service.EnableCorsBehavior, AFIS.Reader.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <corsBehavior/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
